header
  
  .boxWrapper
    .box
  
  .boxWrapper
    .box
  
  .boxWrapper
    .box
  
  .hero

footer
  
  h1 Open e-Motion
  p Trova in tempo reale la stazione più vicina a te, 
    | controlla quante bici sono disponibili e dove puoi parcheggiare,
    | istante per istante.
